:root {
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(221, 221, 221);

    --light-blue: rgb(103, 181, 255);
    --light-blue-shadow: rgba(67, 160, 223, 0.3);

    --dark-blue: rgb(0, 88, 204);
    --dark-blue-shadow: rgba(33, 129, 255, 0.2);

    --light-txt: white;
    --dark-txt: rgb(61, 61, 61);

    --black-shadow: rgba(61, 61, 61, 0.1);

    --clear-btn-trans: rgba(255, 255, 255, 0);
    --clear-btn-hover: rgba(255, 255, 255, 0.15);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--dark-txt);
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.25em;
}

.panel {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.light {
    background-color: var(--light-color);
}

.dark {
    background-color: var(--dark-color);
}

/*My picture*/
.logo-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    position: absolute;
    border-radius: 100%;
}

.circle-svg {
    fill: transparent;
    stroke: var(--light-blue);
    stroke-width: 20px;
}

/*Hello section*/
.hi-card {
    min-width: 350px;
    max-width: 600px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.hi-card > hr {
    border: 1px solid var(--light-blue);
    width: 75%;
    min-width: 300px;
    margin-bottom: 40px;
}

.hi-title {
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
}

.hi-p {
    max-width: 550px;
    margin-bottom: 45px;
}

.hi-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

/*Buttons*/
.btn-holder {
    position: relative;
    width: min-content;
}

.btn {
    position: relative;
    min-width: 150px;
    width: 150px;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    line-height: 50px;

    transition: transform 150ms, filter 150ms;
}

.btn:hover {
    filter: brightness(110%);
}

.btn-dark:hover,
.btn-light:hover {
    transform: translateY(-5px);
}

.btn-light {
    background-color: var(--light-blue);
    color: var(--light-txt);
    border-radius: 25px;
}

.btn-shadow-light {
    width: 150px;
    height: 50px;
    left: 0%;
    border-radius: 25px;
    background-color: var(--light-blue-shadow);
    box-shadow: 2px 2px 5px var(--light-blue-shadow);
    position: absolute;
}

.btn-dark {
    line-height: 40px;
    width: 140px;
    background-color: var(--light-color);
    border: 5px solid var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 25px;
    box-shadow: 2px 2px 5px var(--dark-blue-shadow);
}

.btn-shadow-dark {
    width: 150px;
    height: 50px;
    left: 0%;
    border-radius: 25px;
    background-color: var(--dark-blue-shadow);
    box-shadow: 2px 2px 5px var(--dark-blue-shadow);
    position: absolute;
}

.btn-simple-light {
    background-color: var(--light-blue);
    color: var(--light-txt);
    border-radius: 25px;
}

.btn-simple-dark {
    background-color: var(--dark-blue);
    color: var(--light-txt);
    border-radius: 25px;
}

.btn-github {
    height: 60px;
    border: 5px solid var(--light-txt);
    background-color: var(--clear-btn-trans);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    transition: background-color 200ms;
}

.btn-github:hover {
    background-color: var(--clear-btn-hover);
}

.btn-github > span {
    color: var(--light-txt);
    margin-right: 10px;
    font-weight: 700;
}

.gith-ico {
    vertical-align: middle;
    fill: var(--light-txt);
    width: 30px;
    height: 30px;
}

/*Titles*/
.ttl-txt {
    font-size: 4rem;
    white-space: nowrap;
}

.keyword-dark {
    color: var(--dark-blue);
}

.keyword-light {
    color: var(--light-blue);
}

/*Skill card*/
.skill-card {
    width: 350px;
    min-width: 275px;
    min-height: 350px;
    padding: 50px;
    background-color: var(--light-color);
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--black-shadow);
}

.skill-card:not(:last-child) {
    margin-right: 10px;
}

.skill-card > h2 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 20px;
}

.skill-svg {
    max-width: 100%;
    height: 150px;
}

.many-holder {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.many-holder > .btn {
    align-self: center;
}

.cards {
    margin: 100px 0px;
    display: flex;
    justify-content: space-evenly;
}

/*Projects*/
.proj {
    width: 550px;
    height: 300px;
    background-color: var(--light-blue);
    position: relative;
    border-radius: 30px;

    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;

    overflow: hidden;
}

.proj > img {
    position: relative;
    top: -25%;
    opacity: 0.4;
    width: 100%;

    transition: opacity 300ms;
}

.proj-active > img {
    opacity: 0.1;
}

.proj-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.proj-info > p {
    width: 100%;
    height: 150px;
    overflow: hidden;
    font-size: 1.5em;
    color: var(--light-txt);
}

.proj-info > h2 {
    font-weight: 700;
    width: 300px;
    font-size: 4em;
    color: var(--light-txt);
}

.click-ico {
    opacity: 0;
    position: relative;
    top: 25%;
    width: 150px;
    height: 100px;
    fill: var(--light-txt);

    transition: opacity 200ms;
}

.proj-info:hover > .click-ico {
    opacity: 1;
}

.projects {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
