:root {
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(221, 221, 221);

    --light-blue: rgb(103, 181, 255);
    --light-blue-shadow: rgba(67, 160, 223, 0.3);

    --dark-blue: rgb(0, 88, 204);
    --dark-blue-shadow: rgba(33, 129, 255, 0.2);

    --light-txt: white;
    --dark-txt: rgb(61, 61, 61);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--dark-txt);
    font-family: 'Open Sans', sans-serif;
}

.panel {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.light {
    background-color: var(--light-color);
}

.dark {
    background-color: var(--dark-color);
}

/*My picture*/
.logo-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    position: absolute;
    border-radius: 100%;
}

.circle-svg {
    fill: transparent;
    stroke: var(--light-blue);
    stroke-width: 20px;
}

/*Hello section*/
.hi-card {
    min-width: 350px;
    max-width: 600px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.hi-card > hr {
    border: 1px solid var(--light-blue);
    width: 75%;
    min-width: 300px;
    margin-bottom: 40px;
}

.hi-title {
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
}

.hi-p {
    max-width: 550px;
    margin-bottom: 45px;
}

.hi-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

/*Buttons*/
.btn-holder {
    position: relative;
    width: min-content;
}

.btn {
    position: relative;
    min-width: 150px;
    width: 150px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    line-height: 50px;

    transition: transform 150ms;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn-light {
    background-color: var(--light-blue);
    color: var(--light-txt);
    border-radius: 25px;
}

.btn-shadow-light {
    width: 150px;
    height: 50px;
    left: 0%;
    border-radius: 25px;
    background-color: var(--light-blue-shadow);
    box-shadow: 2px 2px 5px var(--light-blue-shadow);
    position: absolute;
}

.btn-dark {
    line-height: 40px;
    width: 140px;
    background-color: var(--light-color);
    border: 5px solid var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 25px;
    box-shadow: 2px 2px 5px var(--dark-blue-shadow);
}

.btn-shadow-dark {
    width: 150px;
    height: 50px;
    left: 0%;
    border-radius: 25px;
    background-color: var(--dark-blue-shadow);
    box-shadow: 2px 2px 5px var(--dark-blue-shadow);
    position: absolute;
}
