:root {
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(221, 221, 221);

    --light-blue: rgb(103, 181, 255);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

.panel {
    min-height: min-content;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
}

.light {
    background-color: var(--light-color);
}

.dark {
    background-color: var(--dark-color);
}

.logo-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    position: absolute;
    border-radius: 100%;
}

.circle-svg {
    fill: transparent;
    stroke: var(--light-blue);
    stroke-width: 20px;
}

.hi-card {
    min-width: 350px;
    margin-left: 40px;
}

.hi-card > hr {
    border: 1px solid var(--light-blue);
    width: 75%;
    min-width: 300px;
    margin-bottom: 40px;
}

.hi-title {
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
}

.hi-p {
    max-width: 550px;
}
